.wrapper {
  width: 100%;
  height: 500px;
  background-image: url("../../images/banner.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.searchBox {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  width: 30%;
  height: 50px;
  font: 200 1vmax cursive;
  background-color: bisque !important;
  color: black !important;
  font-size: 17px;
}
