.link {
  text-decoration: none;
}
.productName {
  color: black;
}
.wrapper {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.cartIcon {
  cursor: pointer;
  font-size: 1.5vmax;
}
.cartIcon:hover {
  color: tomato;
  font-size: 1.6vmax;
}
